header{

    background-color: white;
    border-radius: 5px;

}

body{

    background-color:grey;
    text-align: center;
    background-image: url(headerImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}



div{

    border: 1px solid gray;
    border-radius: 5px;
    background-color:black;
    color: white;
    
}

ul{

    list-style-type: none;
    background-color:black;
    margin:0;
    overflow: hidden;
 
}
li a{
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
    
}
li{
    float:left;
}
li a:hover{
    background-color:rgb(247, 242, 242);
    color:rgb(10, 10, 10);
    border-radius: 50px;
}

img{

    width:100%;
    border-radius: 10px;

}

form {
    border: 3px solid black;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}
form #fname,#pwd{
        border: 2px solid black;
        padding:5px;
        border-radius:5px;
}
